:root {
    --bg-color: #4551dd;
    --circle-bg-yellow: #f8b001;
    --animation-duration-start: 2s;
  }
  
  body {
    margin: 0;
    background-color: var(--bg-color);
  }
  
  .container {
    width: 70%;
    max-width: 1000px;
    min-height: 755px;
    height: 100vh;
    margin: auto;
    position: relative;
    box-sizing: border-box;
    padding: 20px 0;
  }
  
  .flex-column-end {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
  }
  
  .background-circle {
    width: 75%;
    aspect-ratio: 1/1;
    background-image: url("./images/bbvv.jpg");
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    position: absolute;
    z-index: -1;
    top: 20px;
    left: 100px;
  
    animation: background-circle-appears var(--animation-duration-start) both;
  }
  
  @keyframes background-circle-appears {
    0% {
      opacity: 0;
      transform: translateX(-100%);
    }
  
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .title {
    width: 60%;
    font-size: 4rem;
    padding: 30px 15px;
    color: white;
    background-color: var(--bg-color);
  
    border-radius: 20px;
    box-sizing: border-box;
  
    animation: title-appears var(--animation-duration-start) both;
  }
  
  @keyframes title-appears {
    0% {
      opacity: 0;
      transform: translateX(100%);
    }
  
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .grid {
    width: 60%;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 20px;
    column-gap: 20px;
  
    margin-top: 20px;
  }
  
  .grid-item {
    width: 100%;
    height: 150px;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    padding-top: 15%;
  
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  
    animation: grid-item-appears calc(var(--animation-duration-start) + 0.75s)
      0.25s both;
  }
  
  @keyframes grid-item-appears {
    0% {
      opacity: 0;
      transform: translateY(100%) scale(0.75);
    }
  
    100% {
      opacity: 1;
      transform: translateY(0) scale(1);
    }
  }
  
  .grid-item > div {
    width: 100%;
    text-align: center;
  }
  
  .grid-item > div:first-child {
    background-color: var(--circle-bg-yellow);
    border-radius: 50%;
    width: 40%;
    aspect-ratio: 1/1;
  
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .grid-item > div:first-child img {
    width: 60%;
  }
  
  .grid-item > div:last-child {
    color: var(--bg-color);
    font-size: 1.5rem;
    font-weight: bolder;
    align-self: flex-end;
  }
  
  .section-2.container {
    margin-top: 100px;
  }
  .section-2.container > div:nth-child(2),
  .section-2.container > div:first-child {
    width: 100%;
    text-align: center;
    color: white;
  }
  
  .section-2.container > div:first-child {
    font-size: 3rem;
    padding-bottom: 15px;
    font-weight: bolder;
  }
  
  .section-2.container > div:nth-child(2) {
    width: 50%;
    margin: auto;
    font-size: 1rem;
  }
  
  .cards {
    margin-top: 100px;
    width: 100%;
    height: max-content;
  
    display: flex;
    justify-content: space-between;
  }
  
  .card {
    width: 30%;
    height: 100%;
    box-sizing: border-box;
    background-color: white;
    border-radius: 15px;
    padding: 15px;
  
    text-align: center;
  }
  
  .card > img {
    width: 100%;
    border-radius: 15px;
  }
  
  .card p {
    font-size: 1.5rem;
    font-weight: bolder;
    font-style: unset;
  }
  
  .card i {
    font-size: 0.8rem;
  }
  
  .orange-line {
    width: 100%;
    height: 200px;
    background-color: var(--circle-bg-yellow);
    z-index: -1;
    position: absolute;
    margin-top: 400px;
  }
  
  .container3 {
    width: 80%;
    max-width: 1200px;
    min-width: 900px;
    margin: auto;
  }
  
  .middle-text {
    text-align: center;
    padding-bottom: 10px;
  }
  
  .middle-text h1 {
    color: azure;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .middle-text p {
    color: azure;
    font-weight: 5px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .grid-container {
    box-sizing: border-box;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    row-gap: 10px;
    column-gap: 10px;
    padding: 40px 0;
    width: 100%;
  }
  
  .arrow {
    height: 30px;
    margin-left: 80%;
    padding-bottom: 20px;
  }
  
  .text-griditem {
    padding: 10px;
    background-color: azure;
    color: black;
    border-radius: 10px;
    margin-left: 10px;
  }
  
  .text-griditem h2 {
    padding-left: 10px;
    text-transform: uppercase;
    color: var(--bg-color);
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .text-griditem p {
    color: darkgray;
    padding-left: 10px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .container4 {
    display: flex;
    align-items: center;
    width: 60%;
    max-width: 1200px;
    min-width: 900px;
    margin: auto;
    padding: 40px 0;
  }
  
  .numbers-grid {
    box-sizing: border-box;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    width: 50%;
  }
  
  .numbers {
    text-align: center;
    color: azure;
    font-family: monospace;
  }
  
  .numbers p {
    margin: 30px;
    font-size: 50px;
    font-weight: bold;
  }
  
  .right-text {
    color: azure;
    font-family: monospace;
  }
  
  .right-text > p:last-child {
    color: var(--bg-color);
    text-transform: uppercase;
    text-align: center;
    width: 40%;
    padding: 10px;
    background-color: var(--circle-bg-yellow);
    border-radius: 30px;
    margin-left: 10px;
  }
  
  .container5 {
    z-index: 1;
    width: 90%;
    max-width: 1200px;
    min-width: 900px;
    margin: auto;
    padding: 50px 0;
    position: absolute;
  }
  
  .container5 .circle-image {
    background-image: url("./images/huju.jpg");
    width: 40%;
    aspect-ratio: 1/1;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    position: absolute;
    z-index: -1;
    margin-left: 40%;
  }
  
  .container5 > div:last-child {
    margin-left: 30%;
    margin-top: 25%;
    padding: 10px;
    background-color: azure;
    border-radius: 10px;
  }
  
  .text-container {
    width: 30%;
  }
  
  .text-container > p:last-child {
    font-family: monospace;
    font-size: 15px;
    color: var(--bg-color);
    text-transform: uppercase;
    text-align: center;
    width: 40%;
    padding: 10px;
    background-color: var(--circle-bg-yellow);
    border-radius: 30px;
    margin-left: 15px;
  }
  
  .container6 {
    width: 100%;
  }
  
  .white-background {
    margin-top: 300px;
    background-color: white;
    height: 140vh;
    width: 100%;
    display: flex;
    align-items: end;
    justify-content: center;
  }
  
  .icon {
    height: 50px;
  }
  
  .first-row {
    width: 25%;
    height: 60%;
    box-sizing: border-box;
    z-index: 1;
    display: grid;
    grid-template-rows: auto;
    padding: 40px;
  }
  
  .first-row .icon {
    margin-left: 90%;
  }
  
  .first-row h1 {
    height: 0;
    margin: 0;
    color: var(--bg-color);
    text-align: end;
    width: 100%;
    font-size: larger;
  }
  
  .first-row p {
    margin: 0;
    text-align: end;
  }
  
  .second-row {
    display: flex;
    flex-direction: column;
  }
  
  .second-row div {
    background-color: #f8b001;
    border-radius: 50%;
    margin: 10px 0;
    overflow: hidden;
    display: flex;
  }
  
  .second-row img {
    height: 140px;
    width: 140px;
    overflow: hidden;
    border-radius: 50%;
    object-fit: cover;
    padding: 5px;
  }
  .circle1 {
    object-position: right;
  }
  
  .circle2 {
    object-position: left;
  }
  
  .third-row {
    width: 25%;
    height: 60%;
    box-sizing: border-box;
    z-index: 1;
    display: grid;
    grid-template-rows: auto;
    padding: 40px;
  }
  
  .third-row h1 {
    height: 0;
    margin: 0;
    color: var(--bg-color);
    width: 100%;
    font-size: larger;
  }
  
  .third-row p {
    margin: 0;
  }
  
  .container7 {
    height: 550px;
    text-align: center;
    align-items: center;
    width: 60%;
    max-width: 1200px;
    min-width: 900px;
    margin: auto;
    padding: 40px 0;
  }
  
  .container7 p:first-child {
    margin: 0;
    font-size: 100px;
    font-family: monospace;
    color: var(--circle-bg-yellow);
  }
  
  .circle-picture {
    background-image: url(./images/4.jpg);
    width: 210px;
    position: absolute;
    aspect-ratio: 1/1;
    background-size: cover;
    border-radius: 50%;
    object-fit: cover;
    padding: 5px;
    z-index: 1;
    margin-left: 27%;
  }
  
  .container7 p:nth-child(3) {
    top: 80px;
    font-weight: bold;
    font-family: monospace;
    left: 16%;
    position: relative;
    font-size: x-large;
    color: var(--bg-color);
    background-color: azure;
    padding: 150px 20px 20px;
    width: 65%;
    border-radius: 10px;
  }
  
  .container7 p:last-child {
    color: azure;
    position: relative;
    font-family: monospace;
    font-size: large;
    text-transform: capitalize;
    top: 100px;
  }
  
  .container8 {
    background-color: white;
    width: 100%;
    margin: auto;
    padding: 40px 0;
  }
  
  .container8 img {
    width: 400px;
    height: 400px;
  }
  
  .container8 .input-container {
    display: flex;
    justify-content: center;
  }
  
  .bottom-container {
    margin-left: 30px;
  }
  
  .bottom-container h1 {
    font-family: monospace;
    text-align: center;
  }
  
  .inputs {
    outline: none;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-bottom: 1px solid gray;
  }
  
  span {
    cursor: pointer;
    transition: 0.1s;
    &:hover {
      color: var(--bg-color);
    }
  }
  
  .container8 button {
    margin: 10px;
    width: 100%;
    padding: 10px;
    background-color: var(--bg-color);
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
  
  .container8 .last {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px;
  }
  
  .last h2 {
    text-transform: uppercase;
  }
  
  .last img {
    padding-right: 5px;
    height: 20px;
    width: 20px;
  }
  
  .last div {
    font-family: monospace;
    background-color: var(--bg-color);
    width: 20%;
    border-radius: 10px;
    padding: 20px;
    color: white;
    margin: 0 10px;
  }