body{
    margin: 0;
    text-align: center;
    background: linear-gradient(180deg, #263149 50%, #cad3e6 50%);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   
}

.title{
    margin: 0;
    font-size: 30px;
    color: snow;}

.icon{
    height: 20px;
    
}

span{
    font-weight: bold;
    color:red
}

img{
    
}

.everything{
    display: flex;
    height: 467px;
    margin: 9px 100px;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.small-picture{
    display: inline-block;
    height: 150px;
    width: 145px;   
    padding: 5px;
   
}

.big-picture{
    display: block;
    height: 250px;
    padding: 5px;
    width: 305px;
   
}
 
.big-text{
    display: block;
    padding: 5px;
    width: 305px;
    text-align: center;
    margin: -150px 0;
    font-size: 30px;
    color: snow;
    position: absolute;
    font-family: monospace;
}

.small-text{
    padding: 5px;
    width: 305px;
    display:inline-block;
    margin: 65px -235px;
    font-size: 20px;
    color: snow;
    font-family: monospace;   
    position: absolute;
   
}

.footer {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 20px;
}



